@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Almarai';
  src: url('../../public//fonts/Almarai/Almarai-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.clip-path {
  clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}
